.files {
  width: 326px;
  height: 201px;
  background-color: var(--blue-850);
  margin-bottom: 1rem;
  border-radius: 10px 100px 10px 10px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  padding: 40px;

  &__figure {
    user-select: none;
    &-logo {
      width: 135px;
      height: 39.27px;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;

    &-svg {
      fill: var(--white);
      cursor: pointer;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: var(--blue-950);
      border-radius: 10px;
      cursor: pointer;

      &:nth-child(1) .files__icons-svg {
        width: 19.18px;
        height: 23.98px;
      }

      &:nth-child(2) .files__icons-svg {
        width: 24px;
        height: 19.2px;
      }

      &:nth-child(3) .files__icons-svg {
        width: 24px;
        height: 16px;
      }
    }

    &-input {
      display: none;
    }
  }
}
