.stats {
  position: relative;
  width: 326px;
  height: 154px;
  background-color: var(--blue-850);
  color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  box-shadow: 0 75px 100px -30px rgba(0, 0, 0, 0.24);

  &__info {
    text-align: center;
    font-size: 14px;
    line-height: 115%;
    color: var(--blue-200);
    margin-bottom: 1rem;

    &-strong {
      font-weight: bold;
    }
  }

  &__graph {
    display: flex;
    flex-direction: column;
    position: relative;

    &-bar {
      appearance: none;
      width: 262px;
      height: 20px;
      border-radius: 999px;
      background: var(--blue-950);
      position: relative;
      z-index: 1;
      cursor: pointer;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        width: var(--fill-width, 81.5%);
        background: linear-gradient(
          to right,
          hsl(6, 100%, 80%) 0%,
          hsl(335, 100%, 65%) 100%
        );
        border-radius: 999px;
        z-index: -1;
      }

      &::-webkit-slider-thumb {
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        border: 2px solid hsl(335, 100%, 65%);
        z-index: 2;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        border: 2px solid hsl(335, 100%, 65%);
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        height: 100%;
        background: transparent;
      }

      &::-moz-range-track {
        height: 100%;
        background: transparent;
      }
    }

    &-length {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      font-weight: bolder;
      line-height: 115%;
      color: var(--blue-200);
      margin: 8px 0;
    }
  }

  &__notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 179px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    background-color: var(--white);
    padding: 16px 24.5px;
    border-radius: 10px;
    box-shadow: 0 75px 100px 0 rgba(0, 0, 0, 0.24);

    &-strong {
      font-size: 40px;
      font-weight: bold;
      line-height: 100%;
      color: var(--blue-950);
      margin-right: 8px;
    }

    &-small {
      font-size: 12px;
      font-weight: bold;
      line-height: 115%;
      color: var(--grayish-blue);
    }
  }
}
